.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}


.avtr {
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: blueviolet;
}